body {
    height: 100%;
	margin: 0px;
	background-color: #191919;
	background-image: url("../images/102-93-4-monochrome.png");
	background-repeat: repeat;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 90px;
}
h2 {
	font-family: 'Quicksand', sans-serif;
    margin:0px;
	color: white;
}


p.notes {
	font-family: 'Rock Salt', cursive;
}

#container {
	padding: 10px;
    margin: 10px auto 10px auto;
	width:1125px;
	height: 450px;
}

#episodeBanner {
    
    margin: auto;
}

#playArea {
    height:100%;
}

#leftside {
    position: relative;
    float:left;
    background-color:red;
    width:60%;
    height:100%;
}

#map {
    background-color:blue;
    z-index: 2;
    height: 100%;
    width: 100%;
}

#room {
    background-color:green;
    z-index: 1;
    position:absolute;
    top:0px;
    left: 0px;
    height:100%;
    width:100%;
    cursor: pointer;
}

#rightside {
    position: relative;
    float:right;
    width: 40%;
    height:100%;
}



