body {
    height: 100%;
	margin: 0px;
	background-color: #191919;
	background-image: url("../images/102-93-4-monochrome.png");
	background-repeat: repeat;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 90px;
}
h2 {
	font-family: 'Quicksand', sans-serif;
    margin:0px;
	color: white;
}


p.notes {
	font-family: 'Rock Salt', cursive;
}

/*This class represents anything that can be clicked*/
.interactable {
    
}

.inventoryImage {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#container {
	padding: 10px;
    margin: 10px auto 10px auto;
	width:1125px;
	height: 450px;
}

#episodeBanner {
    
    margin: auto;
}

#playArea {
    height:100%;
    position: relative;
}

#inventory {
    background-color: blue;
    position: relative;
    height:40%;
    margin: 10px;
}

#leftside {
    position: relative;
    float:left;
    background-color:red;
    width:60%;
    height:100%;
}

#map {
    background-color:blue;
    z-index: 2;
    height: 100%;
    width: 100%;
}

#room {
    background-color:green;
    z-index: 1;
    position:absolute;
    top:0px;
    left: 0px;
    height:100%;
    width:100%;
    cursor: pointer;
}

#rightside {
    position: relative;
    float:right;
    width: 40%;
    height:100%;
}


/* For the ACTION CHOICE MENU! */
.md-modal {
    position: absolute;
    width: 200px;
    height: 150px;
    z-index: 2000;
    text-align: center;
    height: auto;
    visibility: hidden;
    backface-visibility:hidden;
	transform: translateX(-50%) translateY(-50%);
}

img.uiImage {
    width:30%;
    height: auto;
    padding: 5px
}

.md-content {
    background-color:green;
}

.md-show {
    visibility: visible;
}

.md-effect-1 .md-content {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
}

.md-show.md-effect-1 .md-content {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
}