body {
	margin: 0px;
	background-color: #191919;
	background-image: url("../images/102-93-4-monochrome.png");
	background-repeat: repeat;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 120px;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	color: white;
}

p.notes {
	font-family: 'Rock Salt', cursive;
}

#container {
	padding: 10px;
	margin: 10px;
	width:1500px;
	height:1000px;
}

#characterPic {
	position:absolute;
	top: 0px;
	left: 0px;
	height:100%;
}

#dossierDesk {
	background-image: url("../images/natural_paper.png");
	background-repeat: repeat;
	height:500px;
	width:80%;
	margin: auto;
	border-radius: 5px;
	padding: 10px;
}


#title {
	float: left;
	width: 50%;
	height: 400px;
}

#rightSide {
	position: relative;
	display:none;
	width: 50%;
	float: right;
}

#introLight {
	height:100%;
}
